# Generated
themes/lotus/css/*.css
!themes/lotus/css/asciidoctor-custom-subset.css
themes/lotus/css/*.css.map

# dotenv environment variables file
.env

# Cache and output
.cache/
.DS_Store
.sass-cache/
public/
target/

# editors
.idea/

# other
.cpcache/
.lein-repl-history
