@import "variables";

#menucont {
  #menu-checkbox {
    display: none;
  }

  .menutitle {
    display: none;
  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      list-style-type: none;
      padding: 0;

      a {
        color: #FFF;
        width: 100%;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 22px;
        text-decoration: none;
        letter-spacing: 2px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &.active {
        background: rgba(0, 0, 0, 0.2);

        a {
          font-weight: 600;
        }
      }

      .menu-item-text {
        padding: math.div($default-gutter, 2) $default-gutter;
        width: 100%;
        .large-screen { // Hide some labels on small screens so they only show on large ones
          display: none;
          @media screen and (min-width: $tablet-breakpoint) {
            display: initial;
          }
        }
      }
    }
  }

  .icon {
    // color: currentColor;
    fill: currentColor;

    // margin: 0 0 0 2px;
    // font-size: $default-font-size * 1.2;
    height: $default-font-size;
    width: $default-font-size;
  }
}

// From the awesome animate.css
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: $mobile-breakpoint) {

  #menucont {
    display: flex;
    flex-direction: column-reverse;

    #menu-checkbox {
      // When menu expanded:
      &:checked ~ .menu {
        max-height: none;
      }
      &:checked ~ .menutitle .icon-menu-down {
        display: none;
      }
      &:checked ~ .menutitle .icon-menu-up {
        display: initial;
      }
    }

    .menutitle {
      display: flex;
      align-items:  baseline;
      justify-content: center;

      padding: 0 $default-gutter;
      cursor: pointer;
      text-transform: uppercase;
      opacity: $default-opacity;

      /*.icon-menu {
        // color: currentColor;
        fill: currentColor;

        // margin: 0 0 0 2px;
        // font-size: $default-font-size * 1.2;
        height: $default-font-size;
        width: $default-font-size;
      }*/
      .icon-menu-down {}
      .icon-menu-up { display: none; }

      .menu-text {
        display: none; /*
        margin: 0 0 0 .8em;
        font-size: $default-font-size;
        font-weight: $font-weight-heavy;
        letter-spacing: 2px;
        line-height: 1;*/
      }
    }

    .menu {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: both;

      display: flex;
      flex-wrap: wrap;
      max-width: 100vw;
      max-height: 2.5rem; // unset on menu expansion
      padding: 0 10px;
      overflow: hidden;
      justify-content: space-between;

      li {
        width: initial;
        &.active {
          background: transparent;

          a, a:hover {
            font-weight: 600;
            color: #FFF;
          }
        }

        a {
          width: 100%;
          display: inline-block;
          margin: 0;
          line-height: 1.3rem; //23px;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 300;
          text-transform: uppercase;
        }

        .menu-item-text {
          //padding: $default-gutter/4 $default-gutter;
          padding: 0.6rem 0.6rem 0.6rem 0;
          white-space: nowrap;
          font-size: 95%; // to fit in "Clojure" too :-)
          text-transform: none;
        }
      }
    }
  }
}
