@import "variables";
@import "typography";
@import "buttons";
@import "menu";
@import "layout";

/* ==================================================
   Global Styles
================================================== */

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: $body-bgcolor;
  color: $base-font-color;
}

::selection, ::-moz-selection {
    background: $base-color;
    color: $body-bgcolor;
}

a {
  $anchor-color: lighten(scale_color($base-color, $saturation: 20%), 20%);

  color: $anchor-color;
  text-decoration: none; //fallback
  text-decoration: underline solid currentColor;

  &:hover {
    color: lighten($anchor-color, 20%);
  }
}

.mobile-only {
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.desktop-and-tablet-only {
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

/* ==================================================
   Images
================================================== */

img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/* ==================================================
   Sections
================================================== */

#sidebar {
  background: $base-color;
  color: $white;

  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: $default-gutter / 2;
  }
  @media (min-width: $tablet-breakpoint) {
    width: 10rem;
  }

  #logo {
    padding: 10px 0 0 0; //$default-gutter;
    width: 100%;
    color: $white;

    .icon {
      box-shadow: 0px 0px 14px 2px rgba(255, 255, 255, 0.05);
      display: block;
      padding: 10px;
      background: rgba(0, 0, 0, 0.2);
      height: 70px;
      width: 70px;
      margin: 0 10px 10px;

      border-radius: 50px;
    }

    .text {
      color: $white;
      width: 100%;
      font-size: 30px;
      line-height: .8;
      font-weight: 600;
      font-family: $wide-font-family;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0px 0px 14px rgba(0, 0, 0, .5);

      @media (min-width: $mobile-breakpoint) {
        &.desktop-and-tablet-only {
          display: table-caption; // minimizes line width
        }
      }
    }

    a {
      text-decoration: none;
    }

    #logo-content {
      display: flex;
      flex-direction: column;
      @media (min-width: $tablet-breakpoint) {
        display: initial;
      }
    }

    #sidebar-logo-row {
      display: flex;
      align-items: center;
      @media (min-width: $tablet-breakpoint) {
        flex-direction: column;
      }
    }

    #sidebar-author-block {
      .text {
        text-align: left;
        text-transform: lowercase;
        margin-bottom: 0.35em;

        @media (min-width: $tablet-breakpoint) {
          text-align: center;
        }
      }
      #sidebar-author.text {
          font-size: 1.35em;
          font-weight: 500;
      }
      #sidebar-subtitle.text {
          font-size: 0.8em;
          font-weight: normal;
          font-family: Arial; // narrower
      }
    }

    #sidebar-title {
      margin-bottom: 0.35em;

      @media (min-width: $tablet-breakpoint) {
        margin-top: 0.35em;
      }
    }
  }
}

#socialmedia {
  // See the icons.svg file for more icons than are used in the default template
  $icon-size: 34px;
  $mobile-icon-size: 30px;

  @media (min-width: $mobile-breakpoint) {
    flex: 0 1 auto;
    padding: $default-gutter;
  }
  @media (max-width: $mobile-breakpoint) {
    padding: 0 $default-gutter 0 0;
  }

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style-type: none;

      margin: 0;
      padding: 0;

      @media (min-width: $mobile-breakpoint) {
        height: $icon-size;
        width: $icon-size;
      }

      @media (max-width: $mobile-breakpoint) {
        height: $mobile-icon-size;
        width: $mobile-icon-size;
        margin-left: $mobile-icon-size/3;
      }
    }


    .icon {
      fill: $white;
      max-height: 100%;
      max-width: 100%;

      opacity: $default-opacity;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#main {
  @media (min-width: $mobile-breakpoint) {
    padding: 2rem;
  }
  @media (max-width: $mobile-breakpoint) {
    padding: 1rem;
  }
}

#main p:last-child {
    margin: 0;
}

.post-header {
  .byline {
    .date {
      font-variant-caps: small-caps;
    }
  }
}

#post {
  margin: 0 auto;
  max-width: 700px;
}

#footercont {
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  font-size: 11px;
}

.paragraph {
  margin: 0.5em 0; // default: 0
}

/* ==================================================
   Article (post/page)
================================================== */

#post a.anchor, #custom-page a.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;

  //svg { visibility: hidden } // TODO Show on mouse-over
}

/* ==================================================
   Table of content
================================================== */
.content {
  list-style: circle;
  > ol { // only top-level headings
    display: none;
  }
}

/* ==================================================
   Contact form
================================================== */
#contact-form {
  display: flex;
  flex-direction: column;

  max-width: 700px; // same as #post

  label, input, textarea {
    display: block;
  }
  label {
    margin-bottom: 0.2rem;
  }
  input, textarea, button {
    font-size: 1.2rem;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 4px;
  }
  input {
    @media (min-width: $tablet-breakpoint) {
        width: 50%;
      }
  }
  textarea {
    height: 6rem;
  }
  button {
    margin-right: auto;
    padding: 0.8rem 4rem;
    background: #709425;
    color: white;
  }
}

/* ==================================================
   AsciiDoctor
================================================== */
.exampleblock {
    padding: 1em;
    background-color: #f3f3d163;
}
