<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}{% block subtitle %}{% endblock %}</title>
        {% block meta %}
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="">
        {% endblock %}

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:300,400,700|Inconsolata" rel="stylesheet">
        {% style "css/normalize.css" %}
        {% style "css/blog.css" %}
        {% style "css/lotus-highlightjs.min.css" %}
    </head>
    <body>
        <aside id="sidebar">
            <div id="logo">
                <a id="logo-content" title="{{title}}" href="{{index-uri}}">
                    <div id="sidebar-logo-row">
                      <img class="icon" src="{{blog-prefix}}/img/avatar.jpg">
                      <div id="sidebar-author-block">
                        <div id="sidebar-author" class="text">{{author}}</div>
                        <div id="sidebar-subtitle" class="text">{{subtitle}}</div>
                      </div>
                    </div>
                    <div id="sidebar-title" class="text">{{title}}</div>
                </a>
            </div>

            <nav id="sidebar-links">

                <nav id="menucont">

                    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                    <label for="menu-checkbox" class="menutitle">
                      <svg class="icon icon-menu-up" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-menu-up"></use></svg>
                      <svg class="icon icon-menu-down" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-menu-down"></use></svg>
                      <span class="menu-text">Menu</span>
                    </label>

                    <ul class="menu">
                        {% if not home %}<li><a title="Home" href="{{index-uri}}"><div class="menu-item-text">
                          <svg class="icon" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-home"></use></svg>
                        <span class="large-screen">Home</span>
                        </div></a></li>{% endif %}
                        <li><a title="Search" href="/search/" aria-label="search"><div class="menu-item-text">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                          <span class="large-screen">Search</span>
                        </div></a></li>
                        {% if tags|not-empty %}
                        <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}"><div class="menu-item-text">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg>
                          Tags
                        </div></a></li>
                        {% endif %}
                        {% for nav-page in navbar-pages %}
                        <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                            <a href="{{nav-page.uri}}"><div class="menu-item-text">{{nav-page.title}}</div></a>
                        </li>
                        {% endfor %}
                      <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}"><div class="menu-item-text">Archives</div></a></li>
                      <li><a title="RSS" href="{{rss-uri}}"><div class="menu-item-text">
                        <svg class="icon" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-rss"></use></svg>
                        RSS</div></a></li>
                      <li><a href="https://holyjak.tumblr.com/" title="Recommended links feed"><div class="menu-item-text">
                        <svg class="icon" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-tumblr"></use></svg>
                        <span class="large-screen">Tumblr</span>
                      </div></a></li>
                      <li><a aria-label="contact" href="/contact/"><div class="menu-item-text">
                        <svg class="icon" aria-hidden="true"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-mail"></use></svg>
                        <span class="large-screen">Contact</span>
                      </div></a></li>
                    </ul>

                </nav>

                <!--nav id="socialmedia">
                    <ul>
                        <li><a title="LinkedIn" href="https://www.linkedin.com/in/jakubholydotnet" rel="external"><svg class="icon icon-linkedin"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-linkedin"></use></svg></a></li>
                        <li><a title="GitHub" href="https://github.com/holyjak" rel="external"><svg class="icon icon-github-circled"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-github-circled"></use></svg></a></li>
                        <li><a title="RSS Feed" href="{{rss-uri}}"><svg class="icon icon-rss-squared"><use xlink:href="{{blog-prefix}}/img/icons.svg#icon-rss-squared"></use></svg></a></li>
                    </ul>
                </nav-->
            </nav>
        </aside>

        <article id="main">
            {% block content %}
            {% endblock %}
            <hr/>
            <div id="footercont">
                Copyright &copy; {{today|date:yyyy}} {{author}}
                <br>Powered by <a href="http://cryogenweb.org">Cryogen</a>
                <br>Theme by <a href="http://github.com/KingMob">KingMob</a>
            </div>
        </article>

        {% script "js/highlight.pack.js" %}
        <script>hljs.initHighlightingOnLoad();</script>

        {% if post.klipse %} {{post.klipse|safe}} {% endif %}
        {% if page.klipse %} {{page.klipse|safe}} {% endif %}
    </body>
</html>
